
ul {
    list-style-type: none;
}
.rightli {
    float: right;
}

li a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.home){
    background-color: #000

}

li a.home{
    background-color: blue;
  
}

li a:not(.home){
    background-color: grey;
}